.container {
  width: 80%;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
.letter {
  font-size: 1.5em;
}
.paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}
.img1 {
  width: 100px;
  height: 100px;
}
.card {
  width: 18rem;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  height: auto;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.fa-linkedin,
.fa-github {
  font-size: 30px;
  color: black;
}
