.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-details {
  flex: 1;
  margin-right: 20px;
}

.detail-item {
  margin: 10px 0;
}

.icon {
  font-size: 2rem;
}

h1 {
  font-size: 1.5rem;
  color: #5177ff;
}

p {
  font-size: 1.4rem;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.contact-form input,
.contact-form textarea {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #a9a3af;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #5177ff;
}

.map-container {
  width: 100%;
  height: 400px;
}

#map {
  width: 100%;
  height: 100%;
}

.social-media {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px;
}

.social-button:hover {
  text-decoration: underline;
}
