/*! Progress Bar Css  */

/* ! 1st Progress Bar  */
.progress2 {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar1 {
  height: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}
.progress-moved .progress-bar1 {
  width: 25%;
  background-color: #2353e1;
  animation: progressAnimation1 4s;
}

@keyframes progressAnimation1 {
  0% {
    width: 0%;
    background-color: #7a9afd;
  }
  100% {
    width: 25%;
    background-color: #2353e1;
  }
}

/* ! 2nd Progress Bar  */
.progress-bar2 {
  height: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 50%;
  background-color: #2353e1;
  animation: progressAnimation2 3s;
}

@keyframes progressAnimation2 {
  0% {
    width: 25%;
    background-color: #2353e1;
  }
  100% {
    width: 50%;
    background-color: #2353e1;
  }
}
/* ! 3nd Progress Bar  */
.progress-bar3 {
  height: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar3 {
  width: 75%;
  background-color: #2353e1;
  animation: progressAnimation3 3s;
}

@keyframes progressAnimation3 {
  0% {
    width: 50%;
    background-color: #2353e1;
  }
  100% {
    width: 75%;
    background-color: #2353e1;
  }
}

/* ! 4th Progress Bar  */
.progress-bar4 {
  height: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar4 {
  width: 100%;
  background-color: #2353e1;
  animation: progressAnimation4 3s;
}

@keyframes progressAnimation4 {
  0% {
    width: 75%;
    background-color: #2353e1;
  }
  100% {
    width: 100%;
    background-color: #2353e1;
  }
}

/* !Custom package card  */
.custom_card {
  cursor: pointer;
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #2353ff;
  text-align: center;
  padding: 0 10px;
}

.custom_card:hover {
  border: 3px solid black;
}

/* !back button style  */
.backBtn {
  width: 100px;
  left: 100px;
  top: 100px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;
}

.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #333;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
    background-color 0.2s ease;
}

.tLine {
  top: 0px;
}

.mLine {
  top: 13px;
  opacity: 0;
}

.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
}

.backBtn:hover .label {
  left: 25px;
}

.backBtn:hover .line {
  left: -10px;
  height: 5px;
  background-color: #2353fb;
}

.backBtn:hover .tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

.backBtn:hover .mLine {
  opacity: 1;
  width: 30px;
}

.backBtn:hover .bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}
