@font-face {
  font-family: playfont;
  src: url("../font/play.ttf");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: playfont;
}

/* !Heading 1  */
.heading_1 {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 80px;
  z-index: 100;
  text-align: center;
}

.navbar {
  padding-top: 7px;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-bottom: 10px;
}

.nav-hd {
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
}

.nav-hd:hover {
  color: white;
}

.hero-bg-1 {
  background-color: black;
  padding: 40px 0 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-bg-2 {
  padding: 45px 0 35px;
}

.hero-bg-3 {
  padding: 80px 0 50px;
}

/* positions */

.pos-hd {
  position: relative;
}

.align-sm {
  left: 10px;
}

.p-el {
  padding-left: 40px;
}

.border-hd {
  border-left: 1px solid white;
}

.nav-bg {
  background-color: transparent;
  color: white;
}

.l-hd {
  padding-left: 80px;
}

#hd1 {
  color: #5551ff;
  font-weight: 500;
}

#hd4 {
  padding: 0px 120px;
}

#hd2 {
  width: 28.6rem;
  padding: 23px 179px 22px 168px;
  background-color: #5551ff;
  color: white;
  border: none;
  font-weight: 500;
  margin-top: 40px;
}

.divider-hd {
  border: 1.5px solid rgb(70, 70, 70);
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.mb-hd {
  margin-bottom: 80px;
}

.hd-5 {
  width: 15rem;
  display: flex;
  padding: 24px 0px 23px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #5551ff;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.hd-5-1 {
  width: 10rem;
  display: flex;
  padding: 24px 0px 23px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 1rem;
  background: #5177ff;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hd-5:hover {
  color: white;
}

.hd-5-1:hover {
  color: black;
}

.mb-hd-max {
  margin-bottom: 100px;
}

.mt-hd-max {
  margin-top: 100px;
}

.text-hd {
  color: #5551ff;
}

.hd-6 {
  width: 13rem;
  padding: 10px 70px 10px 70px;
  border-radius: 8px;
  background: #5551ff;
  text-decoration: none;
  color: white;
}

.hd-6:hover {
  color: white;
}

.btn-hd {
  background-color: #5177ff;
  color: white;
}

.btn-hd:hover {
  background-color: #476fff;
  color: white;
}

.bg-hd {
  background-color: black;
}

.w-70 {
  width: 70%;
}

.inner-hd-link {
  color: black;
  font-size: large;
}

.inner-hd-link a {
  color: black;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.inner-hd-link a:hover {
  color: #5551ff;
}

.btn-h {
  border: none;
  border-radius: 20px;
  width: 6.3rem;
  padding-left: 25px !important;
  color: white;
  margin-right: 5px;
  text-decoration: none;
}

.btn-h-2 {
  border-radius: 20px;
  width: 4rem;
  padding-left: 10px !important;
  color: white;
  margin-right: 5px;
  text-decoration: none;
  padding: auto;
}

.btn-hd-2 {
  background-color: black;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}

.btn-hd-2:hover {
  background-color: rgb(175, 175, 175);
  color: rgb(20, 20, 20);
}

#logo-hd {
  width: 9.357rem;
  aspect-ratio: auto 189 / 97;
  height: 4.375rem;
}

.hero-btn-hd {
  display: none;
}
@media (min-width: 993px) {
  .nav-hd-hero {
    display: block;
  }
  .pd-hd {
    padding: 50px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .hero-btn-hd {
    display: block;
  }

  .nav-hd-hero {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .hero-btn-hd {
    display: block;
  }

  .nav-hd-hero {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .l-hd {
    padding-left: 20px;
  }

  .p-el {
    padding-left: 10px;
  }

  .hero-1-bg {
    padding: 100px 0 140px;
  }

  #hd2 {
    width: 17rem;
    padding: 10px 95px 10px 95px;
  }

  .inner-hd-link {
    font-size: small;
  }

  .hd-5 {
    width: 10rem;
  }

  .hd-5-1 {
    width: 10rem;
    display: flex;
    padding: 24px 0px 23px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #5177ff;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: small;
  }

  .inner-hd-link a {
    font-size: large;
  }

  #logo-hd {
    width: 100px;
    aspect-ratio: auto 100 / 70;
    height: 70px;
  }

  .btn-h {
    width: 4.9rem;
  }

  .hero-btn-hd {
    display: block;
  }

  .nav-hd-hero {
    display: none;
  }
}

#shearo {
  background-color: black;
  height: 40.35rem;
}
.slider-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.img-hd {
  width: 100%;
  height: auto;
  display: block;
}
.img-sec {
  border-radius: 20px;
}
#pkg-sec {
  position: relative;
  bottom: 55px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 200px;
  padding: 10px;
  transition: 0.8s ease-out;
}

.search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 10px;
}

.slide {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 17px;
  border-radius: 48%;
}
.carousel-item {
  top: 50px;
}
#heroinput::placeholder {
  color: white;
}

.crowsl_img {
  width: 70%;
  padding-top: 100px;
  height: 600px;
  margin: auto;
  padding-bottom: 40px;
}

@media only screen and (max-width: 576px) {
  .heading_1 {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 80px;
    z-index: 100;
    text-align: center;
  }
  .crowsl_img {
    height: 400px;
    width: 100vw;
    margin: auto;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .heading_1 {
    font-size: 2.5rem;
  }
  .crowsl_img {
    width: 100vw;
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .heading_1 {
    font-size: 3rem;
  }
  .crowsl_img {
    width: 100vw;
    height: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .heading_1 {
    font-size: 3rem;
  }
  .crowsl_img {
    width: 80%;
    height: 500px;
  }
}

/* Buttons styling here  */
.primary-btn {
  text-decoration: none;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #000;
  background-color: #5177ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.primary-btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #000;
  transform: translateY(-7px);
}

.primary-btn:active {
  transform: translateY(-1px);
}

.custom-card {
  border: none;
  box-shadow: none;
}
